<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Flashcards {% block title %}Register{% endblock %}</title>
    </head>
    <body>
        <section class="main">
            <section class="title_bar">
                <h1 class="title">Flashcards</h1>
            {% block nav %}
                <nav class="title_nav">
                    <a href="{% url 'index' %}">Home</a> |
                    {% if user.is_authenticated %}
                        <a href="{% url 'auth_logout' %}">Logout</a> |
                        <a href="{% url 'index' %}">Profile</a>
                        <span class="username">User: {{ user.get_username }}</span>
                    {% else %}
                        <a href="{% url 'auth_login' %}">Login</a> |
                        <a href="{% url 'registration_register' %}">Register</a> |
                    {% endif %}
                </nav>
            {% endblock %}
            </section>
            <section class="content">
                {% block content %}{% endblock %}
            </section>
            {% block pagination %}
                {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                    </span>
                </div>
                {% endif %}
            {% endblock %}
        </section>
    </body>
</html>