{% extends "base.html" %}
{% load static %}


{% block content %}

<div>
<h1 class="welcome">Welcome!</h1>
</div>
{% if user.is_authenticated %}
    <div class="quizzes">
        {% for quiz in quizzes %} 

        <div class="deck"><a href="{% url 'game' %}">{{quiz.title}}</a></div>
        <h1>{{quiz.pk}}</h1>
        {% endfor %}
        {% comment %} try pass through data attribute
        in view, grab from data attribute {% endcomment %}
        
        
        
    </div><br><br>
    <div class="welcome"><a href="{% url 'create-quiz' %}">Or make a new quiz!</a></div>
{% else %}
        <div class="welcome"><h4><a href="{% url 'auth_login' %}">Login</a> or
        <a href="{% url 'registration_register' %}">Register</a></h4></div>
{% endif %}


    <a href="{% url 'game' %}">Click here for your gaaaaaaame.</a>

{% endblock content %}

