* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title_bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-style: ridge;
    border-color: darkgrey;
    border-radius: 10px;
    
}

.title {
    width: 50%;
    text-align: center;
    color: white;
    margin: 15px;
    
    border-radius: 10px;
    background: darkgrey;
    padding: 20px;
}

.home {
    
    margin: 15px;
    padding: 10px;
    
    border-radius: 10px;
}

.username {
    
    margin: 15px;
    padding: 15px;

}

.login {
    
    margin: 15px;
    
    border-radius: 10px;
}

.welcome {
    text-align: center; 
}

.quizzes {
    display: flex;
    flex-wrap: wrap;
}

.deck {
    width: 21rem;
    height: 5rem;
    color: aquamarine;
    text-decoration: none;
    border-style: dotted;
    border-color: darkgrey;
    border-radius: 10px;
    text-align: center;
    justify-content: space-evenly;
    margin: 15px;
    padding-top: 25px;

}