* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title_bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-style: ridge;
    border-color: red;
    border-radius: 10px;
    
}

.title {
    width: 50%;
    text-align: center;
    border-style: double;
    margin: 15px;
    border-color: greenyellow;
    background-image:
    radial-gradient(
        circle at top right,
        white,
        orange
    );
}

.home {
    border-style: double;
    margin: 15px;
    padding: 10px;
    border-color: aqua;
}

.username {
    border-style: double;
    margin: 15px;
    border-color: rgb(225, 137, 65);
}

.login {
    border-style: double;
    margin: 15px;
    border-color: red;
}

.welcome {
    text-align: center; 
}

.quizzes {
    display: flex;
    flex-wrap: wrap;
}

.deck {
    width: 20rem;
    height: 5rem;
    color: aquamarine;
    text-decoration: none;
    border-style: dotted;
    border-color: brown;
    text-align: center;
    justify-content: space-evenly;
    margin: 15px;

}